*{
  padding: 0px;
  margin: 0px;
}
a{
  margin-right: 200px;
  text-decoration:none;
  color: white;
}
h1{
  text-align: centre;
}
#navbar{
  height: 60px;
  background-color: #0f1111;
  width: 1000px;
}
#body{
  background-color: #f4f4f4;
  color: black;
  width:1000px;
}
#footer{
  background-color: #0f1111;
  color: white;
  width: 1000px;
}
ul {
  list-style-type: disc;  /* shows solid dots (default) */
  margin-left: 20px;      /* adds spacing from the left */
}